* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../image & logo/bag.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding:30px;
}

.glass-card {
    background: url(';../image & logo/bag.jpg');
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 40px 30px;
    width: 380px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-icon {
    width: 80px;
    height: 80px;
    background: white url('../image & logo/logo.png');
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -80px auto 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    font-size: 24px;
    color: #888;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-icon:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 40px rgb(218, 168, 41);
}
h2 {
    color: #555;
    margin-bottom: 25px;
    font-weight: 500;
}

.input-group {
    background: white;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 12px 15px;
}

.input-group i:not(.toggle-password) {
    color: #999;
    margin-right: 15px;
    width: 20px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #666;
}

.toggle-password {
    cursor: pointer;
    color: #bbb;
    margin-left: 10px;
}

.helper-text {
    font-size: 10px;
    color: #0d1dd1;
    margin: 10px 0;
}

.checkbox-group {
    font-size: 11px;
    color: #2f0fe7;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;
}

.checkbox-group a {
    color: #e125d8;
    text-decoration: none;
}

.register-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #38d39f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.log{
    display: flex;
    text-align: center;
    color:#e125d8;
    margin:10px 0 10px 0;
}
.register-btn:hover {
    background-color: #4cde69;
    transform:translateY(-3px);
    transition:0.3s;
}
